---
export const prerender = false
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import teams from "../../data/teams.json";
// import CardTeam from "../../components/CardTeam.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";
import CardTrack from "../../components/CardTrack.astro";
import { sequence } from "astro:middleware";

export const getStaticPaths = (() => {
	return [
		{ params: {series: "wec"}},
		{ params: {series: "imsa"}}
	];
}) satisfies GetStaticPaths;

const { series } = Astro.params as { series: "wec" | "imsa" };

const categories = Object.keys(teams[series]) as Array<keyof typeof teams[typeof series]>;
const curCategory = (Astro.url.searchParams.get("cat") as keyof typeof teams[typeof series]) ?? categories[0];

const selected = teams[series]?.[curCategory];

console.log(selected)
---

<Layout>
	<nav>
		{categories.map(category => (
			<a href={`/${series}?cat=${category}`} class={category === curCategory ? "active" : ""}>{category}</a>
		))}
			<a href={`/${series}/results`}>Results</a>
	</nav>

	<div class="main">
		<div class="top">
			<img class="logo" src={series === "wec" ? "/logo-wec-blanc-67f5358fb1290246319245.png" : "/2023_IMSA_Logo_639x240.png"} alt="logo" srcset="">
		</div>


	<main>

		<div class="carousel-container">
			{curCategory === "tracks" ? (
				<CardTrack tracks={selected} />
			) : (
				<ImageCarousel category={selected} />
			)}
		</div>

		<!-- <div class="card-container">
			{selected.map((team: string) => (
				<CardTeam team={team} />
			)) }
			</div> -->
	</main>
	
	</div>

</Layout>


<style>

	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.title {
		font-weight: bold;
		text-align: center;
	}

	.logo {
		width: 300px;
	}

	.top {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav {
		display: flex;
		width: 100%;
		background: #9b9b9b;
		height: 50px;
	}

	a {
		height: 100%;
		text-decoration: none;
		background: #f4f4f4;
		color: #333;
		transition: background 0.3s;
		display: flex;
		align-items: center;
		padding: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.active {
		background: #e67e07;
	}

	.disabled {
		background: #333;
		color: #757575;
	}

</style>